/* Tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .clip-top-part {
    clip-path: rect(10%, 100%, 100%, 100%);
  }

  .shimmer-black {
    background: linear-gradient(to right, #3232328c 8%, #32323251 18%, #12121283 33%);
    background-size: 1000px 100%;
    animation: shimmer 2.2s linear infinite forwards;
  }
  .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
